<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- START :: Head -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 550px}
        
        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
            
        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {height: auto;} 
        }
    </style>
</head>
<body class="login">
    
    <div class="container-fluid">
        <div class="row content">
            <div th:replace="admin/elements/sidebar.html :: sidebar" ></div>
            <br>
            
            <div class="col-sm-9">
                <div class="well">
                    <h4>Dashboard</h4>
                    <p></p>
                </div>
                <div class="row">
                    <div id="users-well" class="col-sm-2">
                        <div class="well">
                            <h4>Users</h4>
                            <p></p> 
                        </div>
                    </div>
                    <div id="roles-well" class="col-sm-2">
                        <div  class="well">
                            <h4>Roles</h4>
                            <p></p> 
                        </div>
                    </div>
                    <div id="countries-well" class="col-sm-2">
                        <div class="well">
                            <h4>Countries</h4>
                            <p></p> 
                        </div>
                    </div>
                    <div id="states-well" class="col-sm-2">
                        <div class="well">
                            <h4>States</h4>
                            <p></p> 
                        </div>
                    </div>
                    <div id="cities-well" class="col-sm-2">
                        <div class="well">
                            <h4>Cities</h4>
                            <p></p> 
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div id="categories-well" class="col-sm-4">
                        <div class="well">
                            <h4>Categories</h4>
                            <p></p> 
                        </div>
                    </div>
                     <div id="places-well" class="col-sm-4">
                        <div class="well">
                            <h4>Places</h4>
                            <p></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            $('div[id*="well"]').css('cursor', 'pointer');
            $('div[id*="well"]').click(function() {
                let location = $(this).prop('id').split('-')[0];
                window.location = "/admin/" + location;
            });
        });
    </script>
</body>
</html>